{% extends "base.html.twig" %}

{% block body %}
    {{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{form_row(form.nom)}}
        {{form_row(form.prenom)}}
        {{form_row(form.date_naiss)}}
        {{form_row(form.email)}}
        {{form_row(form.password)}}
        <button type='submit' class='btn btn-primary'>S'inscrire</button>
       
    {{form_end(form)}}
{% endblock %}