{% extends 'base.html.twig' %}

{% block body %}
    <br>
    <div class="container">
        <h2>Bonjour {{app.user.nom}} {{app.user.prenom}} !</h2>
            {% if app.user.isadmin == 1 %}
                <br>
                <p>Je suis l'administrateur !</p>
            {% endif %}
        <table>
            <tr>
                <td>Mon nom</td>
                <td>{{app.user.nom}}</td>
            </tr>
            <tr>
                <td>Mon prénom</td>
                <td>{{app.user.prenom}}</td>
            </tr>
            <tr>

            </tr>
            <tr>
                <td>Mon email</td>
                <td>{{app.user.email}}</td>
            </tr>
        </table>
        <br>
        <a href="#" class="btn btn-primary">Modifier mes informations</a>
    </div> 
{% endblock %}