{% extends 'base.html.twig' %}

{% block title %}{{ article.titre }}{% endblock %}

{% block body %}

    <div class="bg-light row">
        <div class="col-md-7 mx-auto py-5">
            <ul class="list-unstyled d-flex justify-content-center">
                <li class="pe-2">
                    <a href="{{ path('home') }}" class="link-warning">Accueil</a>
                </li> / 
                <li class="px-2">   
                    <a href="{{ path('rubrique', {'slug': article.rubrique.slug}) }}"
                       class="link-warning">
                        {{ article.rubrique.nom }}
                    </a>
                </li>
            </ul>
            <h1 class="ff-play fs-2 mt-4 text-center">{{ article.titre }}</h1>
        </div>
    </div>
    <section class="row">
        <div class="col-md-7 mx-auto mb-5">
            <article class="mb-5">
                <img src="{{ asset('images/article/' ~ article.image) }}" class="card-img-top fit-cover w-100 mt-5 mb-3" height="400">
                <span class="">Publié le {{ article.datePoste|date('d/m/Y') }}</span>
                <p class="my-3">{{ article.contenu }}</p>
            </article>

            <h3 class="ff-play fs-3 my-3">Commentaires</h3>
            {{ form_start(form, {'attr': {'novalidate': 'novalidate', 'class': 'mb-4'}})}}
                {{ form_widget(form.contenu, { 'attr': {'class': 'mb-3'} }) }}
                <div class="d-flex justify-content-end">
                    <button type="submit" class="btn btn-warning" >Envoyer</button>
                </div>
            {{ form_end(form) }}

            <h4 class="ff-play fs-4">Tous les commentaires</h4>
            {% for comment in comments %}
                <p class="mb-0 py-4 border-bottom">{{comment.contenu}}</p>
            {% endfor %}
        </div>
    </section>

{% endblock %}