{% extends "base.html.twig" %}

{% block body %}
    {{form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        {{form_row(form.titre)}}
        {{form_row(form.contenu)}}
        {{form_row(form.image)}}
        {{form_row(form.rubrique)}}
        {{form_row(form.valide)}}
        {{form_row(form.datePoste)}}
        <button type='submit' class='btn btn-primary'>Créer</button>
        
        
       
    {{form_end(form)}}
{% endblock %}