{% extends 'base.html.twig' %}

{% block body %}
    <br><br><br>
    <div class="container">
        <h2> {{article.titre}} </h2>
        <br>
        {% if article.image %}
            <img class="card-img-top" src="images\article\{{ article.image }}">
            <br>
        {% endif %}
        <p> {{article.contenu}} </p>
        <br>
        <p> Posté le : {{article.datePoste|date('d/m/Y')}} </p>
        <br>    
        <table class="table">
            <thead>
                <tr>
                    <th>Liste des commentaires</th>
                </tr>
            </thead>
            <tbody>
                {% for comment in comments %}
                    <tr>
                        <td>{{comment.contenu}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            {{ form_start(form, {'attr': {'novalidate': 'novalidate'}})}}
			{{ form_row(form.contenu)}}
			<button type="submit" class="btn btn-primary" >Envoyer</button>
		    {{form_end(form)}}
        {% endif %}


        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a href="#" class="btn btn-link js-like">
            {% if app.user %}
                {% set isLiked = false %}
                {% for like in article.likes %}
                    {% if like.user == app.user  %}
                        {% set isLiked = true %}
                    {% endif %}
                {% endfor %}
                {% if isLiked == true  %}
                    <i class="fas fa-thumbs-up"></i>
                {% else %}
                    <i class="far fa-thumbs-up"></i>
                {% endif %}
            {% endif %}
            <span class="js-likes">{{article.likes | length}}</span>
            <span class="js-label">J'aime</span>
        </a>
        {% endif %}
        
    <br><br><br><br>
    </div> 
{% endblock %}